@import url("https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation&family=Libre+Baskerville:ital@1&display=swap");

.container {
  font-family: "Edu NSW ACT Foundation", cursive;
  font-family: "Libre Baskerville", serif;
}
.cover {
  margin: 0 30px;
}
